@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Create success</h1>
    <p><a asp-action="CreateRole">continue Create</a>.</p>
</div>
