@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FPT Job</h1>
    <p>
         <a>
            Opportunities to apply for jobs with attractive benefits at leading companies
            With the remarkable development of the economy, many industries are facing a shortage of skilled labor. Therefore, most universities collaborate with companies, enterprises, and organizations to provide opportunities for students to learn, develop themselves, and become familiar with the working environment early on. In this list of job opportunities, FPT Job offers you chances to work in dynamic and professional working environments.
            Quality Jobs
            Thousands of high-quality job postings are regularly updated to meet candidates' job search needs.
            An intelligent system automatically suggests suitable jobs based on your CV.
            Free CV Writing Tool
            Various CV templates suitable for applying to different positions.
            Interactive interface, easy information editing, create an online CV quickly within 5 minutes.
            Job Seeker Support
            Employers actively search and contact you through the smart candidate connection system.
            Detailed reports on which employers have viewed your CV and sent offers to you.
            At FPT Job, you can find job postings with incredibly attractive salaries. Employers connected with TopCV are all large companies in Vietnam, where you can work in a professional, dynamic, and youthful environment. FPT Job is a high-tech recruitment platform that helps employers and candidates connect with each other. Quickly create a CV to apply for the latest attractive job positions at FPT Job, where you will find the newest job opportunities with the best salaries!
        </a>.
    </p>
</div>
